<div class="row">
    <div class="col-xs-12">
        <a routerLink="/profile" class="back">&#8678;</a>
        <h3>Upload a photo of yourself:</h3>
        <label class="image-upload-container btn btn-bwm">
            <span>Select Image</span>
            <input #imageInput
                   type="file"
                   accept="image/*"
                   (change)="onAddItem()">
          </label>
        <div class="row">
            <div class="col-xs-12">
                <button routerLink="/profile" class="btn" (click)="onAddItem()">Update</button>
            </div>
        </div>
    </div>
</div>