<div class="row">
    <div class="col-xs-10">
        <h2>Edit Profile</h2>
        <div class="container">
            <img src="{{ images.image }}" alt="" class="img-responsive">
            <button routerLink="/image" class="btn">&#x270E;</button>
        </div>
        <div class="profile-usermenu">
            <ul class="nav">
                <li class="active">
                    <a routerLink="/name" style="cursor: pointer">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>
                                <dd class="text-muted">Name</dd>
                            </h6>
                        </div>
                        <dt> {{ names.firstName }} {{ names.lastName }} </dt>
                    </a>
                </li>
                <hr>
                <li class="active">
                    <a routerLink="/phone" style="cursor: pointer">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>
                                <dd class="text-muted">Phone</dd>
                            </h6>
                        </div>
                        <dt> {{ numbers.phone }} </dt>
                    </a>
                </li>
                <hr>
                <li class="active">
                    <a routerLink="/email" style="cursor: pointer">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>
                                <dd class="text-muted">Email</dd>
                            </h6>
                        </div>
                        <dt> {{ emails.email }} </dt>
                    </a>
                </li>
                <hr>
                <li class="active">
                    <a routerLink="/bio" style="cursor: pointer">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>
                                <dd class="text-muted">Bio</dd>
                            </h6>
                        </div>
                        <dt> {{ bios.bio }} </dt>
                    </a>
                </li>
                <hr>
            </ul>
        </div>
    </div>
</div>