<div class="row">
    <div class="col-xs-10">
        <app-number-edit></app-number-edit>
        <h2>Edit Profile</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSt4hiQEupYJsDB-1obM5qOQ6fPhbGozgPbxg&usqp=CAU" alt="Profile picture" class="img-responsive">
        <div class="profile-usermenu">
            <ul class="nav">
                <li class="active">
                    <a routerLink="/name" style="cursor: pointer" *ngFor="let name of names">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>
                                <dd class="text-muted">Name</dd>
                            </h6>
                        </div>
                        <dt> {{ name.firstName }} {{ name.lastName }}</dt>
                    </a>
                </li>
                <hr>
                <li class="active">
                    <a routerLink="/phone" style="cursor: pointer">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>
                                <dd class="text-muted">Phone</dd>
                            </h6>
                        </div>
                        <dt> {{ numbers }} </dt>
                    </a>
                </li>
                <hr>
                <li class="active">
                    <a routerLink="/email" style="cursor: pointer">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>
                                <dd class="text-muted">Email</dd>
                            </h6>
                        </div>
                        <dt> {{ emails }} </dt>
                    </a>
                </li>
                <hr>
                <li class="active">
                    <a routerLink="/bio" style="cursor: pointer">
                        <div class="d-flex w-100 justify-content-between">
                            <h6>
                                <dd class="text-muted">Bio</dd>
                            </h6>
                        </div>
                        <dt> {{ bios }} </dt>
                    </a>
                </li>
                <hr>
            </ul>
        </div>
    </div>
</div>